<!DOCTYPE html>
<html>
  <head>
    <title><%= playersData[0].title %></title>
    <link rel='stylesheet' href='players.css' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet' />
  </head>
  <body>
    <main>
      <h1><%= playersData[0].title %><img src="img/instagram.png"></h1><br>
      <div class="container">
      <div class="jogadores">
      <img src="<%= playersData[1].image %>" alt="jogador de futebol" width="300px" height="200px">
      <p class="name"><%= playersData[1].name %></p>
      <p><%= playersData[1].club %></p>
      <p><%= playersData[1].followers %></p>
      </div>
      <div class="jogadores">
      <img src="<%= playersData[2].image %>" alt="jogador de futebol" width="300px" height="200px">
      <p class="name"><%= playersData[2].name %></p>
      <p><%= playersData[2].club %></p>
      <p><%= playersData[2].followers %></p>
      </div>
      <div class="jogadores">
      <img src="<%= playersData[3].image %>" alt="jogador de futebol" width="300px" height="200px">
      <p class="name"><%= playersData[3].name %></p>
      <p><%= playersData[3].club %></p>
      <p><%= playersData[3].followers %></p>
      </div>
      </div><br>
      <div class="container2">
      <div class="jogadores">
      <img src="<%= playersData[4].image %>" alt="jogador de futebol" width="300px" height="200px">
      <p class="name"><%= playersData[4].name %></p>
      <p><%= playersData[4].club %></p>
      <p><%= playersData[4].followers %></p>
      </div>
      <div class="jogadores">
      <img src="<%= playersData[5].image %>" alt="jogador de futebol" width="300px" height="200px">
      <p class="name"><%= playersData[5].name %></p>
      <p><%= playersData[5].club %></p>
      <p><%= playersData[5].followers %></p>
      </div>
      <div class="jogadores">
        <img src="<%= playersData[6].image %>" alt="jogador de futebol" width="300px" height="200px">
        <p class="name"><%= playersData[6].name %></p>
        <p><%= playersData[6].club %></p>
        <p><%= playersData[6].followers %></p>
        </div>
      </div>
    </main>
  </body>
</html>